@import "tailwindcss";

:root {
  /* Brand */
  --color-primary: #35631e;
  --color-primary-hover: #3b7d1b;

  /* Secondary */
  --color-secondary: #97a25c;
  --color-accent: #d9d40c;
  --color-info: #4c84e0;

  /* Backgrounds */
  --color-bg: #f8faf5;
  --color-surface: #ffffff;
  --color-muted: #e4f7db;
  --color-soft: #cfcabb;

  /* Text */
  --color-text: #3c3c34;
  --color-text-muted: #6b7280;

  /* Borders */
  --color-border: #e5e7eb;
}

/* Optional Dark Mode */
.dark {
  --color-bg: #1f2a1a;
  --color-surface: #2a3523;
  --color-muted: #32402a;
  --color-soft: #3c3c34;

  --color-text: #f3f4f6;
  --color-text-muted: #9ca3af;

  --color-border: #374151;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
}